# Git
.git
.gitignore

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Bun
bun-debug.log

# Build
dist

# Environment
.env
.env.*
!.env.example

# Logs
logs
*.log

# PM2
ecosystem.config.js
deploy.sh
setup-pm2.sh

# Docker
Dockerfile
.dockerignore

# IDE
.vscode
.idea

# Misc
.DS_Store
*.pem
