PORT=8006
# Coinbase Paymaster API Key - Get from Coinbase Developer Portal
# https://portal.cdp.coinbase.com/products/bundler-and-paymaster
PAYMASTER_API_KEY=19sq3nEADzklF4GuazyIAZ0oN9gzYZay
# PK
PRIVATE_KEY_MAINNET=
PRIVATE_KEY_TESTNET=8fe179ce6f79932967bac295418794cd4e512f509ca9b2aef7f812ce7695f7fd
# NFT contract addresses
NFT_CONTRACT_ADDRESS_MAINNET=
NFT_CONTRACT_ADDRESS_TESTNET=0x0f61205637D02A0799d981A4d9547751a74fB9fC
# API key for authentication
API_KEY=kP9mRxLw3VbTzY8qN6sFgH2jKpQr7CvXuA4nBtE5yWcZ1iMoUeRlDhGpSaFxJvK3
# Add allowed origins (comma-separated)
ALLOWED_ORIGINS=http://localhost:8001,http://localhost:8002,http://localhost:8003,https://api-test.openedu101.com,https://api-phuong.openedu101.com,https://openedu.net,https://openedu101dev.com,https://api-dev.openedu101.com,https://api-demo.openedu101.com
# PM2 monitoring keys (optional, for PM2 monitoring service)
# https://pm2.keymetrics.io/
PM2_PUBLIC_KEY=q72y5acdmf7kblq
PM2_SECRET_KEY=armutc3r02y5z1r